// constants
@import "./constants/padding";
@import "./constants/color";
@import "./constants/breakpoint";
@import "./constants/typography";
@import "./constants/z-index";

// base
@import "./base/normalize";
@import "./base/reset";
@import "./base/fonts";
@import "./base/global";

// mixins
@import "./mixins/responsive";
@import "./mixins/flexbox";
@import "./mixins/position";
@import "./mixins/text-style";
@import "./mixins/container";
@import "./mixins/base-margin-bottom";

// components
@import "./components/gnb";
@import "./components/subtitle";
@import "./components/profile";
@import "./components/divider";
@import "./components/description";

// layouts
@import "./layouts/header";
@import "./layouts/greeting";
@import "./layouts/about";
@import "./layouts/skills";
@import "./layouts/work";
@import "./layouts/contact";

// extends
@import "./extends/btn";
@import "./extends/form-element";

body {
  $sm-header-height: 50px;
  $md-header-height: 80px;

  margin-top: $sm-header-height;

  @include responsive(T) {
    margin-top: $md-header-height;
  }
}
