// constants
@import "./constants/padding";
@import "./constants/color";
@import "./constants/breakpoint";
@import "./constants/typography";

// base
@import "./base/normalize";
@import "./base/reset";
@import "./base/fonts";
@import "./base/global";

// mixins
@import "./mixins/responsive";
@import "./mixins/flexbox";
@import "./mixins/position";
@import "./mixins/text-style";
@import "./mixins/container";

// layouts
@import "./layouts/header";

// components
@import "./components/gnb";

body {
  $sm-header-height: 50px;
  $md-header-height: 80px;

  margin-top: $sm-header-height;

  @include responsive(T) {
    margin-top: $md-header-height;
  }
}
