@font-face {
  font-family: "Elice DigitalBaeum";
  src: url("/src/assets/fonts/EliceDigitalBaeum.eot");
  src: url("/src/assets/fonts/EliceDigitalBaeum.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/fonts/EliceDigitalBaeum.woff2") format("woff2"),
    url("/src/assets/fonts/EliceDigitalBaeum.woff") format("woff"),
    url("/src/assets/fonts/EliceDigitalBaeum.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Elice DigitalBaeum";
  src: url("/src/assets/fonts/EliceDigitalBaeum-Bd.eot");
  src: url("/src/assets/fonts/EliceDigitalBaeum-Bd.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/fonts/EliceDigitalBaeum-Bd.woff2") format("woff2"),
    url("/src/assets/fonts/EliceDigitalBaeum-Bd.woff") format("woff"),
    url("/src/assets/fonts/EliceDigitalBaeum-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
