$font-main: "Elice DigitalBaeum";

$font-size-12: 12px;
$line-height-12: 18px;
$letter-spacing-12: 0;

$font-size-14: 14px;
$line-height-14: 20px;
$letter-spacing-14: 0.01em;

$font-size-16: 16px;
$line-height-16: 20px;
$letter-spacing-16: 0.02em;

$font-size-20: 20px;
$line-height-20: 20px;
$letter-spacing-20: 0.02em;

$font-size-24: 24px;
$line-height-24: 36px;
$letter-spacing-24: 0.02em;

$font-size-34: 34px;
$line-height-34: 50px;
$letter-spacing-34: 0.02em;
